<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextDiffToHtml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextDiffToHtml.Properties.Settings>
            <setting name="WindowPositionX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Library" serializeAs="String">
                <value>DiffLib</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>Side by side</value>
            </setting>
            <setting name="ShowIdenticalLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIdenticalParts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineThrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CharLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonospacedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewHtml" serializeAs="String">
                <value>True</value>
            </setting>
        </TextDiffToHtml.Properties.Settings>
    </userSettings>
</configuration>